/* CSS file for css_positioning.html */


/* main header */
h1 {
	font-weight: bold;
	margin-bottom: 0;
}

/*all box element styling*/
.box {
	border: 1px solid black;
	width: 50px;
	height: 50px;
	padding: 10px;
	margin-top: 50px;
	margin-right: 50px;
	color: white;
	font-weight: bold;
	font-size: 15px;
	float: left;
	position: relative;
}

/*codup arrow positioning*/
.box>img {
	position: absolute;
	top: -40px;
	right: -40px;
}

/*codeup ribbon positioning*/
.ribbon {
	position: absolute;
	top: 0px;
	right: 0px;
}

/*nth child adjustemnt for yellow/blue box*/
.box:nth-child(3), .box:nth-child(5) {
	clear: left;
}

/*individual box element formatting*/
#box-red {
	background-color: red;
}

#box-orange {
	background-color: orange;
}

#box-yellow {
	background-color: yellow;
}

#box-green {
	background-color: green;
	/*clear: left;*/
}

#box-blue {
	background-color: blue;
}

#box-violet {
	background-color: violet;
}

/* link formatting
unvisited link (:link) */
a:link {
	color:blue;
}
/* visited link (:visited) */
a:visited {
	color:blueviolet;
}
/* mouse hover over link (:hover) */
a:hover {
	color:orange;
}
/* active or selected link (:active) */
a:active {
	color:green;
}